<h1>Yadong Xie</h1>
<span>Actions Speak Louder Than Words</span>
<nav>
  <ul>
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/blog']">Blog</a></li>
    <li><a href="https://github.com/vthinkxie" target="_blank" rel="noreferrer">Github</a></li>
    <li>
      <a href="https://www.linkedin.com/in/yadongxie" target="_blank" rel="noreferrer">Linkedin</a>
    </li>
    <li><a href="https://twitter.com/yadong_xie" target="_blank" rel="noreferrer">Twitter</a></li>
  </ul>
</nav>
