/* You can add global styles to this file, and also import other style files */

$main-bg-color: #ffffff;
$main-text-color: #1d1d1f;
$main-href-color: #0070cc;

:root {
  --main-bg-color: $main-bg-color;
  --main-text-color: $main-text-color;
  --main-href-color: $main-href-color;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 14px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
  background: $main-bg-color;
  color: $main-text-color;
  a {
    color: $main-href-color;
    text-decoration: none;
    &:hover {
      color: lighten($main-href-color, 10%);
    }
  }
}
