:host {
  display: flex;
  flex-direction: column;
}
.image {
  display: flex;
  justify-content: center;
  img {
    width: 300px;
    height: 375px;
  }
}
.intro {
  padding: 0 24px;
  h2 {
    text-align: center;
    margin: 0.67em 0;
  }
}
