<section class="image"><img src="assets/me.jpg" alt="me" height="375" width="300" /></section>
<section class="intro">
  <h2>About Me</h2>
  <p>
    Yadong Xie is a Senior Front-end Engineer at
    <a href="https://www.alibabagroup.com" target="_blank" rel="noreferrer">Alibaba</a>. He loves
    the concept of open source, enjoy using open source software, as well as creating & maintaining
    some himself to contribute back to the community.
  </p>

  <p>
    He is
    <a href="https://zeppelin.apache.org" target="_blank" rel="noreferrer">Apache Zeppelin</a>
    committer and
    <a
      href="https://developers.google.com/community/experts/directory/profile/profile-yadong_xie"
      target="_blank"
      rel="noreferrer"
      >Google Developers Expert</a
    >
    in Angular.
  </p>
  <p>
    He also created
    <a href="https://github.com/NG-ZORRO/ng-zorro-antd">NG-ZORRO</a>, a set of high-quality UI
    components to help Angular developers build rich, beautiful and interactive user interfaces.
  </p>
</section>
